<div id="meal-container">

    <div class="row-fluid">

    <% if(meals.length < 1) { %>
        <div class="well">There are no meals to display</div>
    <% } %>

    <% for(var m = 0; m < meals.length; m++) { %>

        <% if(m % 4 === 0) { %>
        </div>
        <div class="row-fluid">
        <% } %>

        <li
            id="meal-<%= meals[m]._id %>"
            class="meal-item span3 <% if(isAdmin(session)) { %>is-admin<% } %>"
            data-meal-id="<%= meals[m]._id %>"
            data-meal-votes="<%= meals[m].votes %>"
            data-meal-created="<%= new Date(meals[m].created).getTime() %>"
            data-meal-amount="<%= meals[m].amount %>"
            data-meal-title="<%= meals[m].title %>"
            data-meal-index="<%= m %>"
        >
        <div class="thumbnail">
            <div class="meal-item-inner">

                <div class="row-fluid meal-image-container">
                    <a href="<%= utilities.url.meal(meals[m]._id) %>" title="<%= meals[m].title %>">
                        <img width="300" height="300" src="<%= config.api.uri %>/meals/<%= meals[m]._id %>/image" alt="" class="meal-image">
                    </a>
                </div>

                <div class="caption">

                    <div class="row-fluid">
                        <div class="span12 meal-item-title">
                            <span class="label label-inverse meal-amount pull-left"><%= meals[m].amount %></span>
                            <a href="<%= utilities.url.meal(meals[m]._id) %>" title="<%= meals[m].title %>">
                                <h4><%= meals[m].title %></h4>
                            </a>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12">
                            <%- partial('partials/votes', { votes: meals[m].votes }) %>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">

                                <% if(isAdmin(session)) { %>
                                <div class="span7">

                                    <span class="btn-group">
                                        <a class="btn btn-danger meal-delete-action">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </span>

                                    <span class="btn-group">
                                        <a class="btn meal-amount-up-action">
                                            <i class="icon-plus"></i>
                                        </a>
                                        <a class="btn meal-amount-down-action">
                                            <i class="icon-minus"></i>
                                        </a>
                                    </span>
                                </div>
                                <% } %>
                                <% if(meals[m].amount > 0) { %>
                                    <div class="span5 text-right pull-right">
                                        <a href="#modal-order-add-container" class="btn btn-primary order-modal-open" data-toggle="modal">
                                            Order <i class="icon-bullhorn"></i>
                                        </a>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </li>
    <% } %>
    </div>
</div>
