<% layout('../layout') -%>

<div class="page-header">
    <h1><i class="icon-bullhorn"></i> <%= title %> <small>the last thirty ones</small></h1>
</div>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Ordertime</th>
            <th>Mealtime</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < orders.length; i++) { %>
            <% if(orders[i].meal) { %>
            <tr <% if(orders[i].deleted) { %>class="order-deleted"<% } %> data-order-id="<%= orders[i]._id %>">
                <td class="meal-title">
                    <a href="<%= utilities.url.meal(orders[i].meal._id) %>" title="<%= orders[i].meal.title %>">
                        <%= orders[i].meal.title %>
                    </a>
                </td>
                <td class="meal-date">
                    <% var d = new Date(orders[i].created); %>
                    <%= utilities.moment(d).format('DD. MMMM – HH:mm') %>
                    <span class="muted">(<%= utilities.moment(d).fromNow() %>)</span>
                </td>
                <td class="meal-time">
                    <span class="badge"><%= (orders[i].mealtime.title).split(' - ')[0] %></span> -
                    <%= (orders[i].mealtime.title).split(' - ')[1] %>
                </td>
                <td>
                <% if(orders[i].user._id === session.user_id && !orders[i].deleted) { %>
                    <a href="#" class="btn btn-small order-delete" data-order-id="<%= orders[i]._id %>"><i class="icon-trash"></i> Delete</a>
                <% } %>
                </td>
            </tr>
            <% } %>
        <% } %>
    </tbody>
</table>