<% layout('layout') -%>

<div id="home">

    <div class="hero-unit">
        <h1>Hello, <%= config.hungry[Math.floor(Math.random()*9)] %>?</h1>
        <br>
        <p>Hey there, we hope you are hungry. We have a lot meals today, look around and you'll find yours.</p>
        <p><a class="btn btn-primary btn-large pull-right" href="/meals">Order now &raquo;</a></p>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <h3><i class="icon-truck"></i> Your last meals</h3>
            <hr>
            <dl class="dl-horizontal">
            <% if(meals_last.length > 0) { %>
                <% for(var i = 0; i < meals_last.length; i++) { %>
                    <dt><%= meals_last[i].meal.title %></dt>
                    <dd><%= utilities.nicetime(new Date(meals_last[i].created)) %></dd>
                <% } %>
            <% } %>
            </dl>
        </div>
        <div class="span4">
            <h3><i class="icon-bar-chart"></i> Trending</h3>
            <hr>
            <dl class="dl-horizontal">
            <% if(meals_trending.items.length > 0) { %>
                <% for(var i = 0; i < meals_trending.items.length; i++) { %>
                    <dt><%= meals_trending.items[i].title %></dt>
                    <dd>
                        <%- 
                            partial('partials/votes', { 
                                votes: {
                                    value: meals_trending.items[i].votes,
                                    max: meals_trending.max 
                                }
                            }) 
                        %>         
                    </dd>
                <% } %>
            <% } %>
            </dl>
       </div>
        <div class="span4">
            <h3><i class="icon-bullhorn"></i> Last orders</h3>
            <hr>
            <dl class="dl-horizontal">
            <% if(orders_last.length > 0) { %>
                <% for(var i = 0; i < orders_last.length; i++) { %>
                    <dt><%= orders_last[i].meal.title %></dt>
                    <dd>by <%= orders_last[i].user.username %></dd>
                <% } %>
            <% } %>
            </dl>
        </div>
    </div>

</div>